<a routerLink = '/superadmin'>dashboard</a> <br>
<a routerLink = 'registrations'>registrations</a> <br>
<a routerLink = 'licenses'>licences</a> <br>
<a routerLink = 'quality/checklist/master/library'>library</a> <br>
<a routerLink = 'quality/checklist/master/library/questions'>questions</a> <br>
<a routerLink = 'quality/testdata/master/library'>test library</a> <br>
<a routerLink = 'quality/testdata/master/library/questions'>test questions</a> <br>  
<a routerLink = 'safety/checklist/master/library'>safety checklist</a> <br>
<a routerLink = 'safety/checklist/master/library/questions'>safety questions</a> <br>
<a routerLink = 'safety/testdata/master/library'>safety test library</a> <br>
<a routerLink = 'safety/testdata/master/library/questions'>safety test questions</a>
<a routerLink = 'materials'>materials</a>
<a routerLink = 'queries'>queries</a>
<a routerLink = 'feedbacks'>feedback</a>
<a routerLink = 'faqs'>faqs</a>
