<a routerLink = '/dashboard'>dashboard</a> <br>
<a routerLink = 'projects'>projects</a> <br>
<a routerLink = 'employees'>employees</a> <br>
<a routerLink = 'vendors'>vendors</a> <br>
<a routerLink = 'materials'>materials</a> <br>
<a routerLink = 'qualityinspection'>qualityinspection</a> <br>
<a routerLink = 'qualitytesting'>qualitytesting</a> <br>  
<a routerLink = 'safetyinspection'>safetyinspection</a> <br>
<a routerLink = 'safetypermit'>safetypermit</a> <br>
<a routerLink = 'reports'>reports</a> <br>
<a routerLink = 'contactus'>contactus</a>

